
  table {
    width: 100%;
    padding: 1em;
    margin: 20px 0;
    border-collapse: collapse;
    box-shadow: 0 1px 2px 0 #c6e8c9;
  }
  
  thead {
    background-color: #caf0ec;
    font-size: 16px;
  }
  thead td {
    font-weight: bold;
  }
  th {
    text-align: left;
    padding: 8px;
    background-color: 1px solid #ffffff;
    color: #14877c;
  }
  td {
    text-align: left;
    padding: 8px;
  }
  td a{
    text-decoration: none;
    color: #14877c;
  }
  tr {
    height: 50px;
  }
  
  tr:nth-child(even) {
    background-color: #e0e0e0;
  }